* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

#div1 {
	/*
		margin is space generated outside of the element.

		border is the space between your margin and padding

		padding is space generated inside the element, between our border and our content

		margins and paddings have four directions they can be added at the
		top, bottom, left or right.

		margin: <value>; - adds margin on all sides

		margin: <top and bottom> <left and right>;

		margin <top> <left and right> bottom - if 3 values

		margin: <top> <right> <bottom> <left>;
	*/
/*	margin: 100px 10px 5px 50px;*/
	border: 2px solid black;
	padding: 20px;
	background-color: red;
	width: 100px;
	height: 100px;
	display: inline-block;
	/*
		without box-sizing or the default: 

			width is calculated is like this: 

			2px left border + 20px left padding + 100px width 
			+ 20px right padding + 2px right border = 144px

			box-sizing:  content-box;
			box-sizing property allows to deterine how we calculate the size of the elements
		
			with box-sizing: 

			width is calculated like this:

			2px left border + 20px left padding + 56px content
			+ 20px right padding + px right border = 100px

			box-sizing:  border-box; border and padding is included in 
			the total width of our element
	
			inline vs block vs inline block

			block will occypy the whole width of its parent therefore it breaks the line. However, we can manipulate the height and width of our block element.

			inline will only occupy the size of its content. You can't set the width and height of an inline element. This will then display elements bneside each other.

			inline-block works almost like an inline element wherein it will not start on a new line and will put elements beside each other. However, with inline-block, you can set the width and the height.

			vertical-align:top will allow us to align our items vertically from the top. It is usually used in conjunction with inline-block elements.
	*/
}

#div2 {
	border: 2px solid black;
	padding: 20px;
	background-color: orange;
	width: 100px;
	height: 100px;
	display: inline-block;
	vertical-align: top;
}	

#span1 {
	display: inline-block;
	border: 2px solid black;
	background-color: green;
	width: 100px;
	height: 100px;
	vertical-align: top;
}

#span2 {
	display: inline-block;
	border: 2px solid black;
	background-color: blue;
	width: 100px;
	height: 100px;
	vertical-align: top;
}
