* {
	background-color: #EDC7B7;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}

nav {
	/* 80% of our root element's font size = 12.8px */
	padding: 0.8rem; 
	border-bottom: 5px solid #EEE2DC;
}

#navBar, #navBar > ul, #navBar > ul > img, .navList, .navLink {
	background-color: #EEE2DC;
}

.navLink {
	color: #AC3B61;
	text-decoration: none;
}

.navLogo {
	color: #AC3B61;
}

#navImg {
	width: 5rem;
	height: 5rem;
}

nav .navList, nav .navLogo {
	font-size: 2rem;
	margin: 0.5rem;
	display:  inline;

}

nav > ul {
	list-style-type: none;
}

#headerArt {
	margin-top: 4rem;
	display: inline-block;
	color: #AC3B61;
	vertical-align: top;
	width: 100%;
	text-align: center;
	background-color: #BAB2B5;
	margin-bottom: 2rem;
}

.headerWelcome {
	font-size: 3rem;
	margin-bottom: 1rem;
}

#headerArtTxt {
	display: inline-block;
	color: #123C69;
}

#artShopDescription {
	font-size: 2rem;
}

#divButton button {
	margin-top: 2rem;
	color: white;
	font-weight: bold;
	background-color: #c2195b;;
	font-size: 1rem;
	padding: 1rem;
	border: none;
	border-radius: 10px;
}

#featuredProducts {
	border-top: 5px solid #123C69;
	background-color: #EEE2DC;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

#featuredHeader {
	background-color: #EEE2DC;
	font-size: 3rem;
	text-align: center;
	color: #AC3B61;
}

#featuredProducts > div {
	background-color: #EEE2DC;

}

.card {
	background-color: #EEE2DC;
	margin-left: 1%;
	display: inline-block;
	width: 30%;
	border: 4px solid #BAB2B5;
	border-radius: 10px;
	height: 250px;
}

.featuredImg {
	background-color: #AC3B61;
	vertical-align: top;
	display: inline-block;
	width: 100%;
	height:  100%;
}